{
  "inverter":{
    "model":"sungrow-sg5ktl",
    "mode":"tcp",
    "host":"sungrow.example.com",
    "port":502,
    "http_timeout_sec":5
  },
  "reports":[
    {
      "type": "pvoutput",
      "host":"pvoutput.org",
      "rate_limit":"300",
      "key":"TODO",
      "system_id":"TODO",
      "http_timeout_sec":20
    },
    {
      "type": "influxdb",
      "host":"influxdb.example.com",
      "port":8086,
      "user":"user",
      "password":"password",
      "db":"pvstats",
      "ssl":"1",
      "verify_ssl":"0"
    },
    {
      "type":"mqtt",
      "host":"mqtt.example.com",
      "port":1083,
      "tls":false,
      "user":"user",
      "password":"password",
      "topic":"/solar/inverter/status",
      "qos":2
    }
  ],

  "sample_period":10,
  "verbose":1
}
