[Unit]
Description=Photovoltaic Inverter Statistics Scanner and Uploader
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/pvstats --cfg /etc/pvstats.conf

User=nobody

Restart=always

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
